<div>
  <div id="items_grid" >
    <%= render partial: 'items_list', locals: {products: products}  %>
  </div>
</div>
<div>
  <div id="items_grid" >
    <%= render partial: 'items_list', locals: {products: products}  %>
  </div>
</div>

<div>
  <div id="items_grid" >
    <%= render partial: 'items_list', locals: {products: products}  %>
  </div>
</div>

<div>
  <div id="items_grid" >
    <%= render partial: 'items_list', locals: {products: products}  %>
  </div>
</div>

<div>
  <div id="items_grid" >
    <%= render partial: 'items_list', locals: {products: products}  %>
  </div>
</div>



